@model Project.Models.AddProfileImage

@{
    ViewData["Title"] = "UserAdd";
    Layout = "~/Views/Shared/UsersLayout.cshtml";
}

<form class="form-group" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">KULLANICI PROFİL BİLGİLERİ DÜZENLEME</h4>
                <br />
                @Html.HiddenFor(x => x.UserID, new { @class = "form-control" })
                <div class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Ad Soyad</label>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Mail</label>
                        @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifre</label>
                        @Html.PasswordFor(x => x.UserPassword, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Görsel</label>
                        <input type="file" name="UserImage"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Hakkında</label>
                        @Html.TextAreaFor(x => x.UserAbout, 10, 3, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-gradient-secondary mr-2">KAYDET</button>
                    <button class="btn btn-light">İPTAL</button>
                </div>
            </div>
        </div>
    </div>
</form>
