@using EntityLayer.Concrete
@model List<Activity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle" style="color:#3399ff">ETKİNLİKLER</h3>
        <div class="inner-sec">
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 card">
                            <a href="/Activity/ActivityReadAll/@item.ActivityID/">
                                <img src="@item.ActivityImage" class="card-img-top img-fluid" alt="" style="background-color:#b3e0ff">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <i class="fas fa-arrow-circle-down" style="color:#3399ff"></i> @item.Category.CategoryName
                                    </li>
                                    <li>
                                        <i class="far fa-calendar-alt" style="color:#3399ff"></i> @item.ActivityCreateDate
                                    </li>
                                </ul>
                                <h5 class="card-title">
                                    <a href="/Activity/ActivityReadAll/@item.ActivityID/">@item.ActivityTitle</a>
                                </h5>
                                <p class="card-text mb-3">@item.ActivityContent.Substring(0, item.ActivityContent.Substring(0, 130).LastIndexOf(" "))...</p>
                                <a href="/Activity/ActivityReadAll/@item.ActivityID/" class="btn btn-dark read-m">Devamını Oku</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>